

#drawcirkule, .btndraw{
    display: block;
    margin: 0 auto;
    width: 115px;
    padding:15px 30px ;
    background-color: red;
    color:white;
    text-decoration: none;
    border-radius: 5px;
}

.btndraw{
    width: 70px;
    background-color: blue;
}

.diametr-circule, .color-circule{
    margin: 20px auto;
    display: block;
    width: 220px;
}














