.body{
    font-family: aria,sans-serif;

}

.container{
    width: 1200px;
    margin: 300px auto;
    text-align: center;
}

.digit{
    display: inline-block;
    font-size: 50px;
    font-weight: 600;
    box-sizing: border-box;
}

#divider{
    display: inline-block;

}

#minute{
    color:red;

}

#second{
    color:green;
}

#milisecond{
    color:blue;

}

.container-buttons{
    margin: 0 auto;
}

.start, .clear, .pause{
display: inline-block;
margin:30px ;
width: 100px;
height: 35px;
}





.d-none{
    display: none;
}

