body{
	  font-family: Arial,sans-serif;
	}



.navbar{ 
    color:red;
    text-align: center;
    font-size:18px;
    font-weight: 900;
}



.navbar-item {
    display: inline-block;
}

.navbar-link {
    margin: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(22, 160, 133);
}

.top-img {
    max-width: 100%;
}

.fig{
    text-align: center;
    }
.main title {
    text-align: center;
    font-size:22px;
    font-weight: 900;
    color:rgb(55, 55, 55);
}

.main-content{
    padding: 30px 40px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 1280px;
    font-size:16px;
    font-weight: 900;
    background-color: #f5f6f7;
    color:rgb(55, 55, 55);
}

.change-main-content{
    padding: 30px 40px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width: 1280px;
    font-size:16px;
    font-weight: 900;
    background-color: red;
    color:rgb(55, 55, 55);

}

.btn-tema{
    /*padding: 30px 40px;*/
    margin: 0 auto;
    text-align: center;
    display: block;
    /*box-sizing: border-box;*/
    width: 205px;
    /*font-size:16px;*/
    font-weight: 900;
    background-color: red;
    color:rgb(55, 55, 55);
}



.btn1 {
    border-radius:3px;
    border:none;
    outline: none;
    /*border: 1px solid transparent;*/
    text-align: center;
    width: 192px;
    height: 51px;
    font-size: 13px;
    background-color: seagreen;
    color: white;
}

.footer-copyright {
    padding: 30px 40px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: right;
    width: 1280px;
    font-size:16px;
    font-weight: 900;   
}

.footer{
    margin: 0 auto;
    padding: 30px 40px;
    box-sizing: border-box;
    width: 1280px;
}
